/*zerando o css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*limita o tamanho da caixa ao max-width 580*/
}
/*tiro o style das ul*/
ul {
    list-style: none;
}
main {
    margin-left: 16px;
    display: grid;
    /*diplay vem sempre em primeiro depois as outras config.*/
    gap: 24px;
    /*Espamento entre as sections */
    margin-top: 32px;
    margin-bottom: 32px;
    max-width: 1100px;
    /*buscar no figma tamanho do quadro*/
    width: 90%;
    /*sobrando 10% de cada lado*/
    margin-right: auto;
    margin-left: auto;
    font-family: 'Roboto', sans-serif;
    /* cor das letras */
    color: rgb(255, 255, 255)
}

main section :nth-child(3) {
    padding-right: 16px;
}


header {
    display: grid;
    /*diplay vem sempre em primeiro depois as outras config.*/
    margin-top: 20px;
    margin-bottom:20px;
    max-width: 1100px;
    /*buscar no figma tamanho do quadro*/
    width: 90%;
    /*sobrando 10% de cada lado*/
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
}

/*defino a fonte e altura da linha*/
/*configuração da imagem (foto)*/
header div img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    display: flex;
    padding: 2px;
    /*preenchimento de 4px*/
    transition: transform 0.3s;
    /*quando eu aplico div:hover , significa que vai aplicar propriedades  de tudo que estiver ali dentro*/
}

header section {
    padding-top: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
header section h1 {
    padding-top: 50px;
    font-weight: 900;
    font-size: 26px;
    letter-spacing: 1px;
}

header section h2 {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
}

header section h3 {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    color:#43E7AD
}

header section h5 {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    color:rgb(15, 223, 209)
}

/*adiciono o background e configuro*/
body {
    background-color: #121214;
    /* cor de fundo no decimal*/
    background-image: url(./assets/bg.jpg);
    /* onde esta a imagem */
    background-position: top center;
    /* quero centralizada a partir do topo */
    background-size: 100% auto;
    /* quero que ela pegue 100% da largura e automatico na vertical da pagina */
    background-repeat: no-repeat;
    /* quero que ela não se repita */
}


body {
    color: white;
    font-family: 'Roboto', sans-serif;
    line-height: 170%;
    background-color: #2A2634;
}

section  {
    padding-top: 20px;
    margin-top: 20px;
    /* border: white solid; */

    /*aqui ta a sacada do gradiente no boarder top das sections*/
    background-image: linear-gradient(90deg, #a0ce20 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 5px;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/*configuro o espaçamento da distancia até as bordas*/
section div {
    display: flex;  /*todos elementos dentro da ul ficam um do lado do outro*/
    background-color: #2A2634;
    padding: 6px;
    padding-top: 10px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    /* distancia de uma div para outra */
    gap: 15px;
    /*só funciona de colocar display flex, porque é gap horizontal*/
    margin-top: 3px;
}


section ul {
    display: content;  /*todos elementos dentro da ul ficam um do lado do outro*/

}

section li {
    padding-bottom: 24px; /*Cria o espaço entre os topicos*/
}


section h1 {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 1px;
    color: white
}

section h2 {
    font-weight: 900;
    font-size: 22px;
    letter-spacing: 1px;
}

section h3 {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
}

section h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(181, 181, 181)
    
}

section h5 {
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(181, 181, 181)
    
}

section p {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1px;
}

section :nth-child(7) {
    display: content;
}




.linguagens li{
    /* display: flex; */
    background-color: white;

}